.header-wrapper {
  
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  width: 100%;
}

.logo {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.nav-wrapper {

}

.nav-container {

  ul {
    list-style: none;
  }

  li {
    display: inline-block

    + li {
      margin-left: 15px;
    }
  }
}